<h3>Приложение для конверсии валют</h3>

<div class="col-md-8">
  <form action="/converter/convert" method="POST" data-remote="true">  
    <div>
      <label>Тип источника данных</label>
      <select name="type">
          <option value="web">Web API</option>        
          <option value="json">файл *.json </option>        
          <option value="csv">файл *.csv</option>        
      </select>
    </div>
  <div class="form-group">
    <label>Сумма</label>
    <input type="number" name="amount">
  </div>    
  <div class="form-group">
    <label>Исходная валюта</label>
    <input type="text" name="from">
  </div>
  <div class="form-group">
    <label>Конвертировать в</label>
    <input type="text" name="to">
  </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button type="submit">Конвертировать</button>
  </form>
</div>
<div>
  <h3 id="result"><%= @result %></h3>
</div>